.brand-logo {
    font-family: 'Fredoka One', cursive;
}

h2, h3, h4, h5, a, button {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

nav {
	padding: 0em 3em;
	height: 8vh;
	line-height: 8vh !important;
	min-height: 64px;
	background: #fff;
	color: #000000 !important;
}

nav a {
	color: #000000 !important;
}

.hero {
	background: url('/img/hero_img.jpg');
	width: 100%;
	background-size: cover;
	height: 92vh;
	position: relative;
}

.map-container {
    height: 92%;
    width: 100%;
}

#map {
	width: 100%;
	height: 100%;
}

#mini-map {
	height: 30em;
	width: 100%;
}

.sign-up-panel {
	position: absolute;
	left: 1em;
	top: 5em;
	background: rgba(255,255,255, .15);
}

.sign-up-panel .row {
	width: 25em;
}

.sign-up-panel .tabs .indicator {
	width: 50%;
}
/* =========== */
/*    COLORS   */
/* =========== */
.bg-primary {
	background: #17455C !important;
}




/* --- Profile Page Styles --- */
#personal_info {
	height: 300px;
	text-align: center;
	background-color: #424242;
}

#user_picture {
	text-align: right;
}

#user_picture img {
	border-radius: 50%;
	height: 165px;
	margin-top: 100px;
}

#name_walks_wrapper {
	margin: 3.75em auto;
	text-align: left;
	color: white;
	font-size: 2.5rem;
}

#user_walks {
	font-size: 1.3rem;
	color: darkgray;
}


#past_walks_title {
	text-align: center;
}

#map {
	height: 100%;
}

#map-container {
	height: 93vh;
}

#list {
	height: 30em;
	position: relative;
	overflow-y: scroll;
    overflow-x: hidden;
	background-color: lightgray;
}


#walk-card {
	height: 3em;
	overflow: hidden;
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
	padding: .5em 0;
	vertical-align: middle;
	margin-bottom: .5em;
	min-width: 388px;
}

#walk-cards-title {
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 1em;
    padding-bottom: 1em;
    font-size: .9em;
}

#walk-info {
	line-height: 40px;
	text-align: center;
    font-family: montserrat;
}

#walk-info span:nth-child(odd) {
	color: #9e9e9e;
}

#past_walks .hoverable:hover {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.085),0 3px 10px 0 rgba(0,0,0,.1);
}

.walk-partner-image {
	margin-bottom: -20px;
}

.walk-partner-image img {
	height: 40px;
	border-radius: 50%;
	margin-bottom: -12px;
	margin-left: 4px;
	margin-right: 4px;
}

.walk-destination {
}


.walk-info-small {
	font-style: italic;
	font-size: 16px;
	font-weight: normal;
	padding: 0 !important;
}

#user_name, #user_picture img {
	cursor: pointer;
}

#edit-name {
	display: none;
	padding-left: 3px;
}

#edit-profile-picture {
	display: none;
}

#user_name:hover #edit-name {
	display: inline-block;
}

#user_picture img:hover ~ #edit-profile-picture {
	display: inline-block;
	margin-left: -24px;
}

#user_name_field {
	font-size: 2.5rem;
}

#user_name_label {
	font-size: 1rem;
	top: -85px;
	position: relative;
}

.dyn_avatar {
	background: url('https://avatars3.githubusercontent.com/u/8071305?v=3&s=460');
	border-radius: 50%;
height: 1.5em;
width: 1.5em;
background-size: cover;
display: inline-block;
vertical-align: middle;
margin: 0 1em .2em 0;
}

.dyn_title_text {
	display: inline-block;
}


.walk-icon {
	position: relative;
	bottom: 0;
	top: 2.95em;
	left: 1.6em;
	padding: 0.2em;
}

